@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Mulish&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

body{
    height: 90vh;
}

header{
    min-height: 25vh;
    padding: 0.8em 3em 0 3em;
}

nav{
    min-height: 25vh;
    background-image: url(../images/design1_image1.jpg);
    background-position: 0 40%;
}

h1{
    font-style: italic;
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    font-weight: 400;
}

h2{
    text-align: center;
    padding: 0.4rem;
    border: 1px solid black;

}

nav>div{
    position: relative;
    top: -3vh ;
    text-align: end;  
    margin-right: 2em;
}

nav a{
    text-decoration: none;
    display: inline-block;
    width: 5em;
    text-align: center;
    margin: 0.2em;
    padding: 0.3em;
    border: 1px solid black;
    color: white;
    background-color: rgb(63, 63, 255);
}

nav a:hover{
    background-color: rgb(79, 79, 232);
}

nav #active{
    background-color: rgb(40, 181, 111);
}

nav #active:hover{
    background-color: rgb(100, 182, 141);
}

main{
    min-height: 50vh;
}

div.about{
    position: relative;
}

h3{
    font-style: italic;
}

.articles{
    display: inline-block;
    position: absolute;
    left: 25rem;
}

.images{
    display: inline-block;
    max-width: 300px;
    position: absolute;
    left: 5rem;
}

div img{
    max-width: 200px;
    margin-bottom: 1em;
    padding-left: 1em;
}

article{
    padding-top: 2rem;
}

.about{
    display: inline-block;
    position: absolute;
    left: 25rem;
    padding-top: 0;
    max-width: 65%;
    font-size: 0.94em;
}

p{
    margin-left: 1.5rem;
}

.parrafo{
    padding-top: 2em;
    margin-left: 1em;
}

footer{
    min-height: 5vh;
}