* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
}

header{
    min-height: 25vh;
    padding: 2em 2em 0 2em;
    background-color: antiquewhite;
}

nav{
    min-height: 25vh;
    background-image: url(../images/hockey\ 3.jpg);
    background-position: 0 20%;
}

h1{
    font-style: italic;
    font-size: large;
}
h2{
    text-align: center;
    padding: 0.5rem;
    border: 1px solid black;
}

main{
    min-height: 70vh;
}

section{
    position: relative;
}

.articles{
    display: inline-block;
    max-width: 80vw;
    padding: 1.5rem;
    position: absolute;
    left: 25vw;
}

.images{
    display: inline-block;
    min-width: 20vw;
    max-width: 20vw;
    padding: 1rem;
    position: absolute;
    left: 5vw;
}

div img{
    max-width: 200px;
}

article{
    padding: 1.5em;
}

p{
    margin: 1em;
}

footer{
    min-height: 10vh;
    background-color: rgb(171, 206, 207);
}